@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Martel Sans", serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.main{
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1250px, 100vw);
    height: 85vh;
    width: 100%;
    position: relative;
}

.main .box1{
    height: 85vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    top: 0;
    position: absolute;
}
.main nav{
    margin: auto;
    width: 80vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main nav .logo{
    width: 148px;
    position: relative;
    z-index: 1;
}
nav button{
    position: relative;
    z-index: 1;

}

.hero{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 24px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    text-align: center;
    font-weight: 900;
    font-size: 56px;
    line-height: 1;
}

.hero> :nth-child(2){
    text-align: center;
    font-weight: 500;
    font-size: 20px ;
}
.hero> :nth-child(3){
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.seperation{
    height: 5px;
    border: solid 0.25 transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-color: rgb(255, 0, 0);
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}
.btn{
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
    padding: 2px 10px;
    align-items: center;
    margin: 0 5px;
}
.btn_getstart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    margin: 0 5px;

}
.btn svg{
    height: 15px;
}

.btn_lang{
    display:flex;
    gap: 5px;
    border: 1px solid gray;
    background-color: transparent;
    color: white;
    align-items: center;
}
.top_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_red{
    background-color: rgb(229,9,20);
    border: 2px solid rgb(229,9,20);
}
.hero input{
    font-size: 18px;
    padding: 10px;
    border: 0.1px solid gray;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.234);
}

.hero_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


